*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gothan Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 90vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    border: 2px solid white;
    outline: none;
    background-color: rgba(82, 82, 82, 0.75);
    border-radius: 20px;
    margin: .5rem .5rem;
}

.calculator-grid button:hover {
    background-color: rgba(36, 36, 36, 0.9);;
}

.span-two {
    grid-column: span 2;
}

#equals-button:hover {
    background-color: rgba(12, 145, 7, 0.9);
}

#all-clear-button:hover {
    background-color: rgba(182, 9, 9, 0.9);
}

#operation-buttons {
    font-size: 3rem;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 20px;
}

.output .previous-operand {
    color: rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

footer {
    color: white;
    padding-left: 1rem;
}

footer a {
    color: rgb(0, 85, 255);
}

@media (max-width: 400px) {
    .calculator-grid {
        display: grid;
        justify-content: center;
        align-content: center;
        min-height: 85vh;
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    }
}